.base-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-box {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;

    .page-content {
        flex-grow: 1;
    }
    background-color: beige;
}

.top-bar {
    width: 100%;
    height: 68px;
    background: linear-gradient(to right, lightyellow, lightblue);

    box-shadow: 0px 0px 10px 0px rgba(black, 0.15);

    display: flex;
    flex-shrink: 0; // to prevent the top bar from shrinking

    justify-content: space-between;
    align-items: center;

    // margin-bottom: 5px;
    // padding: 0 10px;
    h1 {
        padding: 20px;
        margin: 0;
    }
    #add-button {
        transform: scale(1.75);
        padding: 20px;
    }
}