<div class="base-layout">
    <div class="layout-box">
        <div class="top-bar">
            <h1>NOTES</h1>
            <mat-icon id="add-button" type="submit" routerLink="new" (click)="openDialog()">add_circle_outline</mat-icon>
        </div>

        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>