<div class="form-container">
    <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">
        <div class="field">
            <textarea required name="bodyText" [ngModel]="(note$ | async)?.bodyText" class="textarea" cols="65"
                rows="20" placeholder="Type somthing ..."></textarea>
        </div>
        <div class="field button-group">
            <div class="control">
                <button class="button" type="button" (click)="cancel(); dialogRef.close()">Cancel</button>
            </div>
            <div class="control">
                <button class="button" type="submit" [disabled]="!noteForm.valid" (click)="dialogRef.close()">SAVE</button>
            </div>
        </div>
    </form>
</div>
