.form-container {
    max-width: 500px;
    margin: 25px auto;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

textarea {
    &.ng-invalid.ng-touched {
        border: 2px solid red;
        
        &:focus {
            box-shadow: 0px 0px 0px 2px rgba(red, 0.1);
        }
    }
}