<div class="form-container">
    <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">
        <div class="field">
            <mat-form-field style="width: 400px; padding: 0">
                <textarea required name="bodyText" [ngModel]="(note$ | async)?.bodyText" class="textarea" cols="100"
                rows="15" placeholder="Type somthing ..." matInput></textarea>
            </mat-form-field>
            
        </div>
        <div class="field button-group">
            <div class="control">
                <button mat-icon-button class="button" type="button" (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>
            </div>
            <div class="control">
                <button mat-icon-button class="button" type="submit" [disabled]="!noteForm.valid"><mat-icon>check</mat-icon></button>
            </div>
        </div>
    </form>
</div>