.form-container {
    position: relative;
    max-width: 500px;
    margin: 25px auto;
}

.button-group {
    // position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    mat-icon {
        font-weight: 900;
    }
}

textarea {
    &.ng-invalid.ng-touched {
        border: 2px solid red;
        
        &:focus {
            box-shadow: 0px 0px 0px 2px rgba(red, 0.1);
        }
    }
    width: 380px;
    background-color: #77a5d0;
}

.mat-mdc-text-field-wrapper {
    padding: 0px;
}