<div class="main-container">
    <div class="search-bar-container">
        <div class="field">
            <div class="control">
                <input class="search-input" type="text" placeholder="Type to search...">
            </div>
        </div>
    </div>

    <div class="notes-list" [@listAnimation]>
        <app-note-card 
            *ngFor="let note of notes$ | async" 
            [link]="note.id + ''"
            [@itemAnimation] 
            (delete)="deleteNote(note.id)"
            [bodyText]="note.bodyText" 
            [createdDate]="note.createdDate">
        </app-note-card>
    </div>
</div>