.main-container {
    display: flex;
    flex-direction: column;

    max-width: 500px;
    margin: auto;
    padding-top: 50px;
    // overflow: hidden;

    .notes-list {
        flex-grow: 1;
        margin-top: 35px;
        margin-bottom: 30px;
        max-height: 80vh;
        overflow-y: scroll;
    }
}

.search-bar-container input[type=text] {
    width: 460px;
    height: 31px;
    padding: 6px 10px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
    box-shadow: 0px 10px 10px 0px rgba(black, 0.15);
    border: 1px solid #000000;
    border-radius: 8px;
}

// .search-bar-container input[type=text]::-webkit-input-placeholder {
//     padding: 10px;
// }


app-note-card {
    display: block;
    margin-bottom: 20px;
}