<div #container class="note-card-container">
    <a [routerLink]="link">
        <div class="note-card-content">
            <div class="note-card-body">
                <p class="body-text">{{ bodyText }}</p>
            </div>
            <div class="note-card-date">{{ createdDate | date:'MM/dd/yyyy HH:mm:ss' }}</div>
        </div>
    </a>


    <div class="delete-button fa-regular fa-trash-can" (click)="onDeleteButtonClick()"></div>
</div>