.note-card-container {
    position: relative;
    background: #77a5d0;
    border-radius: 8px;
    min-height: 79px;

    box-shadow: 0px 2px 15px 2px rgba(black, 0.068);
    transition: box-shadow 0.2s ease-out;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 0px 4px rgba(black, 0.068);

        //.delete-button {
        //    opacity: 1;
        //    transform: scale(1);
        //    transition-delay: 0.35s;
        //}
    }

    .note-card-content {
        padding: 20px 20px 20px;
        font-size: 14px;

        .note-card-body {
            position: relative;
            color: white;
            max-height: 80px;
            overflow: hidden;

            .body-text {
                width: 95%;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
            }
        }

        .note-card-date {
            color: #5A4F4F;
            position: absolute;
            right: 15px;
            bottom: 5px;
        }
    }

    a {
        text-decoration: none;
    }
}

.delete-button {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 24px;
    border-radius: 4px;
    // background-color: aliceblue;
    background-position: center;
    font-size: 22px;
    //transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    //opacity: 0;
    //transform: scale(0.35);

    &:hover {
        background-color: darken(#77a5d0, 2%);
    }

    &:active {
        background-color: darken(#77a5d0, 5%);
    }
}
