/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~@fortawesome/fontawesome-free/css/all.css";
@import 'material-icons/iconfont/material-icons.css';

html, body {
    height: 100%;
    font-size: 18px;
    overflow: hidden;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
